<nav class="navbar">
    <div class="navbar__container">
      <a href="/home" id="navbar__logo">3DMDL</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span> <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="/" class="navbar__links" id="home-page">Home</a>
        </li>
        <li class="navbar__item">
          <a href="/create" class="navbar__links" id="about-page">Create</a>
        </li>
        <li class="navbar__item">
          <a href="/products/data" class="navbar__links" id="services-page"
            >Products</a
          >
        </li>
        <!-- <li class="navbar__btn">
          <a href="#sign-up" class="button" id="signup">SignUp</a>
        </li>
        <li class="navbar__btn">
          <a href="#sign-up" class="button" id="signup">LogIn</a>
        </li> -->
        <li class="navbar__btn">
          <a href="#sign-up" class="button" id="signup">CART</a>
        </li>
      </ul>
    </div>
  </nav>