body{
    color: #116466;
    color: #d1e8e2;
    color: #d9b08c;
    color: #45a29e;
    color: #ffcb9a;
    color: #66fcf1;
    color: #45a26e;
    color: #45a26e;
    color: #45a26e;
    color: #45a26e;
    color: #45a26e;
}